* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
html a { /* Enlaces */
  text-decoration: none;
  color: rgb(255, 255, 255);
}
html body { /* Fondo de la pagina gris */
  background-color: #292929;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
}

h1:hover {
  color: white;
}

.navbar {
  background-color: rgb(10, 10, 10);
  color: white;
}
.navbar ul {
  list-style-type: none;
}

.navbar-brand {
  color: white;
  font-family: "Atomic Age", cursive;
}

.navbar-toggler {
  background-color: #3681da;
}

.nav-link {
  color: white !important;
  font-weight: bold;
}

.card-index:nth-child(n+2) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3.5rem;
  }
  .navbar-toggler {
    font-size: 1.8rem;
  }
  .navbar-brand {
    margin-inline: 1rem;
  }
  .serch-bar {
    font-size: 1.5rem;
    width: 30rem;
  }
}
@media (min-width: 992px) { /* Barra de navegacion adaptada para +992px */
  .navbar {
    height: 8vh;
  }
  .navbar-brand {
    margin-left: 10rem;
  }
  .serch-bar {
    margin-left: 3rem;
    font-size: 1.3rem;
    width: 15rem;
  }
  .nav-link {
    margin-inline: 1rem;
    font-size: 1.3rem;
  }
  .categorias {
    margin-left: 3rem;
  }
}
@media (min-width: 1200px) { /* Barra de navegacion adaptada para +1200px */
  .navbar-brand {
    margin-left: 15rem;
  }
  .novedades {
    height: 35vh;
  }
  .nav-link {
    font-size: 1.5rem;
  }
}
@media (min-width: 1400px) { /* Barra de navegacion adaptada para +1400px */
  .serch-bar {
    margin-left: 4rem;
  }
  .nav-link {
    margin-inline: 1.5rem;
  }
  .categorias {
    margin-left: 5rem;
  }
}
footer {
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
footer .derechos {
  margin-top: 2rem;
}
footer .redes {
  font-size: 1.7rem;
  display: flex;
  flex-direction: column;
  background-color: #3681da;
  padding-block: 1rem;
  border-radius: 1rem;
}
footer .redes svg {
  margin-top: 1rem;
  width: 3rem;
  margin-inline: 1rem;
}

#productos {
  margin-block: 5rem;
  margin-inline: 10%;
}
#productos h2 {
  color: #3681da;
  font-size: 3rem;
  margin-bottom: 4rem;
}

.card-pages { /* Cards de los productos */
  margin-block: 1.5rem;
  width: 22vh !important;
}

.card-text {
  display: flex;
  justify-content: center;
  text-align: center;
  color: black;
  font-size: 1.3rem;
}

.precio {
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgb(232, 45, 45);
  font-size: 1.3rem;
} /* Cards de los productos */
@media (min-width: 992px) {
  .card-pages {
    width: 25vh !important;
  }
  .card-text {
    font-size: 1.5rem;
  }
  .precio {
    font-size: 1.5rem;
  }
}
.precio-2 { /* Tachado del precio original del producto en la pagina de ofertas */
  color: black;
  text-decoration-line: line-through;
}

/*# sourceMappingURL=style.css.map */
