#productos-nuevos {
    margin-top: 3rem;
    margin-bottom: 6rem;
    h2 {
        @include center-text-flex;
        color: $color-principal;
        font-weight: bold;
        font-size: 3rem;
        margin-bottom: 4rem;
        margin-top: 2rem;
    }
}

.card-index {
    width: 24vh !important;
}

.cards {
    margin-left: 3rem;
    margin-right: 3rem;
}

@media (max-width: 767px) {

    .novedades {
        img {
            height: 18vh;
        }
    }
    .card-index {
        &:nth-child(n+2) {
        @include visually-hidden;
        }
    }
}

@media (max-width: 991px) {

    .cards {
        @include center-item-flex;
    }
    .card-index {
        margin-inline: 2.5rem !important;
        &:nth-child(n+3) {
        @include visually-hidden;
        }
    }
}

@media (max-width: 1439px) {

    .card-index {
        &:nth-child(n+5) {
        @include visually-hidden;
        }
    }
}



@media (min-width: 992px) {     /* Carusel adaptado para +992px */

    .carousel-control-prev {
        margin-left: -6rem;
    }

    .carousel-control-next {
        margin-right: -6rem;
    }
}

@media (min-width: 1200px) {    /* Carrusel adaptado para +1200px */

    .carousel-control-prev {
        margin-left: -8rem;
    }

    .carousel-control-next {
        margin-right: -8rem;
    }
}

@media (min-width: 1400px) {    /* Carrusel adaptado para +1400px */

    .carousel-control-prev {
        margin-left: -9rem;
    }

    .carousel-control-next {
        margin-right: -9rem;
    }
}

@media (min-width: 1600px) {    /* Carrusel adaptado para +1600px */

    .carousel-control-prev {
        margin-left: -12rem;
    }

    .carousel-control-next {
        margin-right: -12rem;
    }
}
