* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;

    a {                     /* Enlaces */
        text-decoration: none;  
        color: rgb(255, 255, 255);
    }

    body {                  /* Fondo de la pagina gris */
        background-color: #292929;
    }
}

@import "variables";
@import "mixins";
@import "style-index";
@import "style-pages";
