h1 {
    &:hover {
        color: white;
    }
}

a {                     /* Enlaces */
    text-decoration: none;  
    color: rgb(255, 255, 255);
}

body {                  /* Fondo de la pagina gris */
    background-color: #292929;
}